*,
*::before,
*::after {
    outline: 0;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    font-size: 5vw;
    background-color: $color-white;
    line-height: rem(38);
    font-family: $font-family;
    color: $color-space-cadet;
    font-weight: $regular;
    overflow-x: hidden;
    
    @media (min-width: $phone-sm) {
        font-size: 3vw;
    }

    @media (min-width: $desktop-lg) {
        // font-size: 1.11111111vw;
        font-size: rem(16);
    }
}

button {
    cursor: pointer;
}


a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    border: none;
    background: none;
    outline: none;
    padding: 0;
}


.container {
    margin: 0 auto;
    height: 100%;
}

.title {
    font-size: $font-lg;
}

.supertitle {
    font-size: $font-xl;
    line-height: rem(80);
    color: $color-white;
    text-align: center;
}

@media screen and (min-width: $desktop-lg) {
    .container {
        // width: $container-xl;
        // margin: 0 auto;
    }
}

@media screen and (min-width: $desktop-xxl) {
    .container {
        // width: $container-xxl;
        // margin: 0 auto;
    }
}